
<div class="container-fluid">
    <div class="row" style="text-align: -webkit-center">
          <div class="col-md-12">
          <h2><p>Social Logins</p></h2>
          <button class="btn btn-primary" style="background-color: #385998; border-color:#385998 " (click)="facebookLogin()"><i class="fa fa-facebook">Facebook</i></button>
          <button class="btn btn-primary" style="background-color: #c63d2d; border-color:#c63d2d "(click)="googleLogin()"><i class="fa fa-google">Google</i></button>
          <button class="btn btn-primary" style="background-color: #4875b4; border-color:#4875b4 "(click)="LinkedinLogin()"><i class="fa fa-linkedin">LinkedIn</i></button>
          </div>
          <div class="col-md-12"style="text-align: -webkit-center;">
            
            <div class="card" style="width:20rem; margin: 20px 0 24px 0; text-align: -webkit-center; " >
           
                <div class="card-body"> 
                  <h4 class="card-title"> {{user.name}} </h4>
                  <p class="card-text"> {{user.email}}</p>
                
                </div>
            </div>
        </div>
    </div>
</div>






